@model DeveloperTeamInsights.Models.Developer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Developer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeveloperName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeveloperName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberTasksWorked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberTasksWorked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberActivePRs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberActivePRs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberReviewsConducted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberReviewsConducted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberDocumentsGenerated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberDocumentsGenerated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberDocumentsReviewed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberDocumentsReviewed)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
