@model IEnumerable<DeveloperTeamInsights.Models.Developer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeveloperName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberTasksWorked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberActivePRs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberReviewsConducted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberDocumentsGenerated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberDocumentsReviewed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeveloperName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberTasksWorked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberActivePRs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberReviewsConducted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberDocumentsGenerated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberDocumentsReviewed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
